.proficiency_rating_container{
    display: inline-block;
    unicode-bidi: bidi-override;
    height: 17px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 3px;
    user-select: none;
    border: 2px solid #3F3D56A6;
  }
  
  .proficiency_rating_upper {
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    overflow: hidden;
    
    
    
  }
  
  .proficiency_rating_lower {
    padding: 0;
    display: flex;
    z-index: 0;
    
  }

